In [18]:
import os
os.chdir("../src")

In [19]:
import pickle
import pandas as pd
from custom_transformer import TitleCreation

In [20]:
modelo = pickle.load(open("../notebooks/my_final_solution.pkl","rb"))

In [22]:
modelo.predict(pd.read_csv("../notebooks/data/new_data.csv"))

array([1, 0, 0, 0, 0, 0, 1, 1, 1, 1])

In [29]:
import json

with open("mock_data.json", "r") as f:
    data = json.load(f)

pd.DataFrame(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.0,1,1,347742,11.1333,None,S
1,525,0,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,None,C